<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Rate Driver</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div align='center'>
    <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
      starIconName="star" nullable="false" (ngModelChange)="onModelChange(rate)">
      <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
    </rating>
  </div>
  <div>
    <ion-textarea id="rounded-input" type="text" placeholder="Leave a short comment" text-left rows="2" maxLength="50"
      [(ngModel)]="comment"></ion-textarea>
  </div>

  <div align="center" padding-top>
    <ion-row no-padding no-margin>
      <ion-col col-6>
        <button ion-button round color="primary" full (click)="exitPage()">Exit</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button round color="secondary" full (click)="submit()">Submit</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>