page-login {
    .logo {
        width: 60%;
        height: 80%;
        margin-top: 2%;
    }

    .vertical-aligned {
        margin-top: 20%;
    }

    .login-button {
        margin: 0% 0% 0% 0%;
       
    }

    .input-icon {
        margin: 0px;
    }

    .prompt-text {
        font-size: 12pt;
        font-weight: 500;
        color: rgb(63, 63, 63);
    }

    .error-text {
        font-size: 12pt;
        color: red;
        margin-top: 2%;
    }
}