<ion-content padding>

  <div>
    <div align="center">
        <img class="logo" src="../../assets/imgs/logo.png"/>
     
    </div>

    <div class="vertical-aligned">

      <form [formGroup]='loginForm'>
        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="secondary" item-left name="md-mail"></ion-icon>
          <ion-input placeholder="Email Address" type='email' formControlName='username'></ion-input>
        </ion-item>

        <p class="error-text" text-center *ngIf='!loginForm.controls.username.valid && loginForm.controls.username.dirty'>Enter
          a valid email address</p>

        <ion-item  style="margin-top: 40px;" id="rounded-input" no-padding no-lines>
          <ion-icon color="secondary" item-left name="md-lock"></ion-icon>
          <ion-input placeholder="Password" type='{{inputType}}' formControlName='password'></ion-input>
          <button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear (click)='switchInputType("text")'>
            <ion-icon color="secondary" name="md-eye"></ion-icon>
          </button>
          <button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear (click)='switchInputType("password")'>
            <ion-icon item-right color="secondary" name="md-eye-off"></ion-icon>
          </button>
        </ion-item>
        <p class="error-text" text-center *ngIf='!loginForm.controls.password.valid && loginForm.controls.password.dirty'>Enter
          a valid password</p>
        <p class="prompt-text" text-right>Forgot Password?</p>
      </form>
    </div>

    <div align="center">
      <button class="login-button" ion-button full color="secondary" [disabled]='!loginForm.valid' (click)="signIn()">Sign
        In</button>
    </div>

    <p class="prompt-text" text-center (click)="newUser()">Don't have an account? Sign Up.</p>

  </div>

</ion-content>