<ion-content padding>

  <div>
    <div align="center">
      <img class="logo" src="../../assets/imgs/logo.png"/>
    </div>

    <div class="vertical-aligned">

      <form [formGroup]='registrationForm'>

        <div class="ion-text-capitalize" no-padding>
          <ion-item id="rounded-input" no-padding no-lines>
            <ion-icon color="secondary" item-left name="ios-contact"></ion-icon>
            <ion-input placeholder="Full Name" type='text' formControlName='name'></ion-input>
          </ion-item>
        </div>

        <p class="error-text" text-center *ngIf='!registrationForm.controls.name.valid && registrationForm.controls.name.dirty'>Enter
          a valid name</p>

        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="secondary" item-left name="md-mail"></ion-icon>
          <ion-input placeholder="Email Address" type='email' formControlName='email'></ion-input>
        </ion-item>

        <p class="error-text" text-center *ngIf='!registrationForm.controls.email.valid && registrationForm.controls.email.dirty'>Enter
          a valid email address</p>

        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="secondary" item-left name="md-call"></ion-icon>
          <ion-input placeholder="Phone Number" type='tel' formControlName='phone'></ion-input>
        </ion-item>

        <p class="error-text" text-center *ngIf='!registrationForm.controls.phone.valid && registrationForm.controls.phone.dirty'>Enter
          a valid phone number</p>

        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="secondary" item-left name="md-lock"></ion-icon>
          <ion-input placeholder="Password" type='{{inputType}}' formControlName='password'></ion-input>
          <button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear (click)='switchInputType("text")'>
            <ion-icon color="secondary" name="md-eye"></ion-icon>
          </button>
          <button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear (click)='switchInputType("password")'>
            <ion-icon item-right color="secondary" name="md-eye-off"></ion-icon>
          </button>
        </ion-item>
        <p class="error-text" text-center *ngIf='!registrationForm.controls.password.valid && registrationForm.controls.password.dirty'>Enter
          a valid password</p>

        <ion-item id="rounded-input" no-padding no-lines>
          <ion-icon color="secondary" item-left name="md-lock"></ion-icon>
          <ion-input placeholder="Password Confirmation" type='{{inputType}}' formControlName='passwordConfirmation'></ion-input>
          <button style="font-size: 18pt;" *ngIf='inputType === "password"' ion-button item-right clear (click)='switchInputType("text")'>
            <ion-icon color="secondary" name="md-eye"></ion-icon>
          </button>
          <button style="font-size: 18pt;" *ngIf='inputType === "text"' ion-button item-right clear (click)='switchInputType("password")'>
            <ion-icon item-right color="secondary" name="md-eye-off"></ion-icon>
          </button>
        </ion-item>
        <p class="error-text" text-center *ngIf='registrationForm.controls.password.value != registrationForm.controls.passwordConfirmation.value && registrationForm.controls.passwordConfirmation.dirty'>Password
          do not match</p>
      </form>
    </div>

    <div align="center">
      <button class="signup-button" ion-button full color="secondary" (click)="signUp()" [disabled]='!registrationForm.valid'>Sign
        Up</button>
    </div>

    <p class="prompt-text" text-center (click)="signIn()">Already have an account? Sign In.</p>

  </div>

</ion-content>