page-user-registration {
    .logo {
        width: 30%;
        height: 30%;
        margin-top: 2%;
    }

    .vertical-aligned {
        margin-top: 3%;
    }

    .signup-button {
        margin: 8% 3% 0% 3%;
        width: 60%;
        height: 45px;
    }

    .input-icon {
        margin: 0px;
    }

    .prompt-text {
        font-size: 12pt;
        font-weight: 500;
        color: rgb(63, 63, 63);
    }

    .error-text {
        font-size: 12pt;
        color: red;
        margin-top: 2%;
    }
}