<ion-header class="nav_home_header themedark">
  <div class="nav_top_header">
    <button ion-button class="nav_btn nav_back floatLeft" (click)="goBack()"></button>
    <div class="nav_header_title floatLeft">
      Profile
    </div>
    <button ion-button class="nav_btn floatRight">
      help&nbsp;<strong>?</strong>
    </button>
    <div class="clear"></div>
  </div>
</ion-header>

<ion-content padding class="theme_background">
  <div class="c_sign_wrap">
    <div class="c_reg_banner">
      <div class="c_profile_picture">
        <div class="c_prof_pic_edit"></div>
      </div>
      <p>{{name}}</p>
    </div>
    <div class="c_sign_form">
      <div class="c_row">
        <div class="c_row">
          <input class="c_sign_input" readonly="true" placeholder={{name}}>
        </div>
        <div class="c_row">
          <input class="c_sign_input" readonly="true" placeholder={{email}}>
        </div>
        <div class="c_row">
          <input class="c_sign_input" readonly="true" placeholder={{phone}}>
        </div>

        <div class="c_row">
          <rating [(ngModel)]="rate" readOnly="false" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
            starIconName="star" nullable="false" (ngModelChange)="onModelChange(rate)">
            <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
          </rating>
        </div>

        <div class="c_row">
          <button ion-button class="c_register_button" (click)="change()">
            <div class="c_prof_pic_edit"></div>Change Password
          </button>
        </div>

      </div>
    </div>
  </div>

</ion-content>