page-profile {

    ul {
      padding: 0px;
     
      &.rating li {
        padding: 5px 10px !important;
        background: none;
        color: #ffb400;
     
        ion-icon {
          font-size: 30px;
        }
      }
    }
  
      .themedark {
        background: #01a031 !important;
      }
    
      .themelight {
        background: #9cd2a1 !important;
      }
    
      .theme_background {
        background: url("../../assets/imgs/main_background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
      }
    
      .themelogin_background {
        background: url("../../assets/imgs/login_background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
      }
    
      .bg_none {
        background: none !important;
      }
    
      .nav_home_header {
        width: 100%;
      }
    
      .nav_top_header {}
    
      .nav_btn {
        width: 60px;
        height: 50px;
        background-color: transparent !important;
        background-position: center !important;
        background-size: 40px !important;
        background-repeat: no-repeat !important;
        color: #dae4d9;
        box-shadow: none !important;
        padding: 10px;
        margin: 0px;
        padding: 0px;
        text-transform: lowercase !important;
      }
    
      .nav_btn strong {
        color: #fff;
        font-weight: 500;
        font-size: 26px;
        position: relative;
        top: 0px;
        padding-left: 5px;
      }
    
      .nav_header_title {
        width: calc(100% - 120px);
        padding: 12px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    
      .nav_header_title img {
        width: 100px;
        position: relative;
        top: 3px;
      }
    
      .nav_header_title span {
        font-weight: 300;
      }
    
      .nav_back {
        background: url("../../assets/imgs/nav_back.png");
      }
    
      .c_sign_wrap {
        width: 100%;
      }
    
      .c_reg_banner {
        width: 100%;
        text-align: center;
        padding: 15px;
      }
    
      .c_reg_banner h3 {
        width: 100%;
        text-align: center;
        color: #075650;
        font-size: 24px;
      }
    
      .c_reg_banner p {
        width: 100%;
        text-align: center;
        color: #898b8d;
        margin: 0px;
        font-size: 17px;
        font-weight: 300;
      }
    
      .c_profile_picture {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-image: url("../../assets/imgs/profile.png");
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        margin-bottom: 10px;
        background-size: cover;
        position: relative;
      }
    
      .c_profile_picture img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    
      .c_prof_pic_edit {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: url("../../assets/imgs/edit.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 130%;
      }
    
      .c_sign_form {
        width: 100%;
        padding-top: 20px;
      }
    
      .c_row {
        width: 100%;
        padding-bottom: 15px;
        position: relative;
      }
    
      .c_sign_input {
        width: 100%;
        height: 40px;
        background-color: #eeeeee !important;
        border-radius: 20px;
        border: none;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        color: #000000;
      }
    
      .c_sign_input::-webkit-input-placeholder {
        color: #000707;
        font-weight: 300;
      }
    
      .c_register_button {
        height: 40px;
        width: 100%;
        border-radius: 20px;
        background: #9cd2a1;
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: capitalize;
      }
    
      .clear {
        clear: both !important;
      }
    
      .floatLeft {
        float: left !important;
      }
    
      .floatRight {
        float: right !important;
      }
    
      .textLeft {
        text-align: left !important;
      }
    
      .textRight {
        text-align: right !important;
      }
    
      .textCenter {
        text-align: center !important;
      }
    }
    