<ion-content fullscreen class="main-content">
  <div  #map id="map1"></div>
 
  <div id="floating-container"  ion-fixed>
    <button ion-button clear *ngIf="state==0" menuToggle>
      <ion-icon style="font-size: 20pt;" color='#6f1896' name="menu"></ion-icon>
    </button>
    <button ion-button clear *ngIf="!this.directionset && state==1" (click)="back1()">
      <ion-icon style="font-size: 20pt;" color='#6f1896' name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear *ngIf="this.directionset && state==1"  (click)="back2()">
      <ion-icon style="font-size: 20pt;" color='#6f1896' name="arrow-back"></ion-icon>
    </button>
    <div *ngIf="state==1 && !isRequesting">
        <ion-item id="rounded-input1" no-padding no-lines>
            <ion-icon color="secondary" item-left name="md-locate"></ion-icon>
            <ion-input (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" [(ngModel)]="autocomplete.startingPoint"
            (input)="searchStartingPoint()" placeholder='Starting point'></ion-input>
          </ion-item>
    

    <ion-list [hidden]="startingPointItems.length == 0">
      <ion-item *ngFor="let item of startingPointItems" tappable (click)="selectStartingPoint(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <!-- <ion-item id="destination-field" no-lines no-padding>
      <ion-input (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" [(ngModel)]="autocomplete.destination"
        (input)="searchDestination()" placeholder='Destination'></ion-input>
    </ion-item>

    <ion-list [hidden]="destinationItems.length == 0">
      <ion-item *ngFor="let item of destinationItems" tappable (click)="selectDestination(item)">
        {{ item.structured_formatting.main_text }}
      </ion-item>
    </ion-list> -->
        <ion-item id="rounded-input1" no-padding no-lines>
        <ion-icon color="blue" item-left name="md-locate"></ion-icon>
        <ion-input [(ngModel)]="autocomplete.query" placeholder="Destination" (input)="updateSearch()"></ion-input>
        <button style="font-size: 18pt;" ion-button item-right clear (click)='cleardestination()'>
            <ion-icon color="secondary" name="ios-close"></ion-icon>
          </button>
      </ion-item>
    <ion-list>
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
        {{ item }}
      </ion-item>
    </ion-list>
</div>

  </div>
  <div style="margin-top: -25px;"  *ngIf="this.state==0">
    <ion-card>
      <ion-card-header>
        <h2 style="font-size: 13px;" ion-text color="primary">
        {{salam}},&nbsp;&nbsp;{{this.restProvider.name}}
        </h2>
        <h1  style="font-size: 20px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" ion-text color="dark">
          What Is Your Destination?
        </h1>
        <ion-searchbar style="margin-left: -20px;" (click)="setdestination()"
         [(ngModel)]="myInput" placeholder="Search Destination ">
        </ion-searchbar>

      </ion-card-header>
    </ion-card>
    <ion-list>
    <ion-item *ngFor="let item of recent | slice:0:3"  (click)="twende(item)">
    <span><ion-icon name="pin"></ion-icon></span>&nbsp;&nbsp;{{item.destination}}
    </ion-item>
   </ion-list>
  </div>


  <div class="select-ride" *ngIf="state==1">

    <div class="bottom-content" [hidden]="!isRequesting">
      <div [hidden]="!isRequesting" align="center" padding-top>
        <ion-spinner name="crescent"></ion-spinner>
        <p text-center class="size-12">Finding a ride...</p>
      </div>
      <div align="center">
        <button *ngIf="isRequesting" class="request-button" ion-button color='primary' round
          (click)='cancelRequest()'>Cancel
          Request</button>
      </div>
    </div>

    <div *ngIf="!isRequesting">
      <div id="car-type">
        <ion-row no-padding no-margin>
          <ion-col col-6 no-padding no-margin>

            <button ion-button clear class="btn" *ngIf="this.rideType!=1" (click)="toggleRide(1)"
              style="background: #bdbdbd; margin-left:auto; margin-right:auto">
              <img src="../../assets/imgs/boda.png" alt="">
            </button>

            <button ion-button clear class="btn2" (click)="toggleRide(1)" *ngIf="rideType == 1"
              style="background: #bdbdbd; margin-left:auto; margin-right:auto">
              <img src="../../assets/imgs/boda.png" alt="">
            </button>

            <p text-center style="font-size: 10px; color: #000000"><strong>Boda</strong> &nbsp;<i>1ps</i> <br>
              <span style="color: #6f1896" *ngIf="rideType ==1">Ksh. {{totalFare.toFixed(0)}} -
                {{(totalFare + 50).toFixed(0)}}</span>


              <span *ngIf="rideType ==1" style="color: #eb1313" [hidden]="distanceText == 0">({{ distanceText }})
              </span>
            </p>


          </ion-col>
          <ion-col col-6 no-padding no-margin >
            <!-- <p text-center style="font-size: 9px; padding: 0%; color: red;" *ngIf="rideType ==2"><b>{{ distanceText }}</b>
              </p>
     -->
            <button ion-button clear class="btn" *ngIf="this.rideType!=2" (click)="toggleRide(2)"
              style="background: #bdbdbd; margin-left:auto; margin-right:auto" no-padding>
              <img src="../../assets/imgs/van.png" alt="" style="transform: rotate(0deg)">
            </button>

            <button ion-button clear class="btn2" *ngIf="rideType == 2" (click)="toggleRide(2)"
              style="background: #bdbdbd; margin-left:auto; margin-right:auto" no-padding>
              <img src="../../assets/imgs/van.png" alt="" style="transform: rotate(0deg)">
            </button>

            <p text-center style="font-size: 10px; color: #000000"><strong>Taxi</strong> &nbsp;<i>3ps</i><br>
              <span style="color: #6f1896" *ngIf="rideType ==2">Ksh. {{totalFareEco.toFixed(0)}} -
                {{(totalFareEco + 50).toFixed(0)}}</span>
              <span *ngIf="rideType ==2" style="color: #eb1313" [hidden]="distanceText == 0">({{ distanceText }})
              </span>
            </p>

          </ion-col>
        
        </ion-row>

        <div align="center">
          <button *ngIf="!isRequesting " class="request-button" ion-button color='secondary' round
            [disabled]="!isDestinationSet || isRequesting" (click)='requestRide()'>Request
            Ride</button>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<<<<<<< HEAD
 
=======
 <!-- <ion-footer  class="ion-footer"> 
  <ion-card>
    <ion-card-header>
      <h2 style="font-size: 13px;" ion-text color="primary">
        Rahisi cabs.Online taxi and boda boda
      </h2>
    </ion-card-header>
  </ion-card>
</ion-footer>  -->
>>>>>>> 59c5ea19a1b91cd1d4d7891d33ac4262d41deee8
