page-home {

    #floating-container {
        position: fixed;
        padding: 0px 10px;
        width: 100%;
        margin-top: 3%;
    }

    #starting-field {
        border-radius: 8px;
    }

    #destination-field {
        margin-top: 4px;
        border-radius: 8px;
    }

    .bottom-content {
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);;
        background-color:rgb(255, 255, 255);;
        
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        // position: relative;
        // bottom: 0;
        // width: 100%;
        // height: 150px;
        // background-color:#fff;
        // border-top-left-radius: 15px;
        // border-top-right-radius: 15px;
    }

    .select-ride{
        height: 30%;
        width: 100%;
        background: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .ion-footer{
        background: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #car-type{
         background-color: rgb(234, 240, 224); 
        position: relative; 
     
        width: 100%; 
        height: 60%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #map1 {
        height: 70%;
        width: 100%;
    }
    #map2 {
        height: 50%;
        width: 100%;
    }

    .main-content {
        background: rgb(255, 255, 255);
    }

    .location-prompts {
        margin: 30px;
    }

    .request-button {
        margin: 20px 0px 20px 0px;
        height: 45px;
        width: 50%
    }

    .size-12 {
        font-size: 12pt;
        font-weight: 500;
        color: color($colors, primary);
    }

    .btn {
        display:block;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        
      }

      .btn2 {
        display:block;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 3px solid rgb(38, 0, 255);
      }
}