<ion-content style="background: black">

  <div #map id="map"></div>

</ion-content>

<ion-footer>
  <div id="bottom-content">

    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <img class="image" src="{{driverProfile}}" alt="">
        </ion-col>
        <ion-col text-center>
          <h4>{{driverName}}</h4>
          <p>Honda &nbsp; &nbsp; {{vehicleRegistration}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button round outline (click)='cancelRequest()'>
            <span style='text-align: center; color: #d50000;'>Cancel</span>
          </button>
        </ion-col>
        <ion-col align="right">
          <button color='secondary' ion-button round outline (click)='callDriver()'>
            <ion-icon name="md-call"></ion-icon> &nbsp;&nbsp;
            <span>Call</span>
          </button>
        </ion-col>
      </ion-row>

      <!-- <ion-row *ngIf='tripStarted'>
            <ion-col col-6>
              <button class="icons" ion-button color='primary' round (click)='shareRide()'>
                <ion-icon name="md-share"></ion-icon>
                Share Ride
              </button>
            </ion-col>
            <ion-col col-6>
              <button color='danger' ion-button round outline (click)='callEmergency()'>
                <ion-icon name="md-alert"></ion-icon>
                Emergency
              </button>
            </ion-col>
          </ion-row> -->
    </ion-grid>

    <!-- <ion-row no-margin no-padding>
      <ion-col no-margin no-padding>
        <p text-center><strong>Driver:</strong> {{driverName}}</p>
      </ion-col>
      <ion-col no-margin no-padding>
        <p text-center><strong>Cab:</strong> {{vehicleRegistration}}</p>
      </ion-col>
    </ion-row>

    <p text-center><strong>Arrival Time:</strong> {{arrivalTime}} Mins</p>

    <div align="center">
      <button color='secondary' ion-button round outline (click)='callDriver()'>
        <ion-icon name="md-call"></ion-icon> &nbsp;&nbsp;
        Call Driver
      </button>
    </div>

    <div align="center">
      <button class="request-button" ion-button color='primary' round (click)='cancelRequest()'>Cancel
        Ride</button>
    </div> -->
  </div>
</ion-footer>