page-cab-enroute {
    #floating-container {
        position: fixed;
        padding: 0px 10px;
        width: 100%;
        margin-top: 3%;
    }

    #starting-field {
        border-radius: 8px;
    }

    #destination-field {
        margin-top: 4px;
        border-radius: 8px;
    }

    #bottom-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    #map {
        height: 100%;
    }

    .main-content {
        background: rgb(0, 0, 0);
    }

    .location-prompts {
        margin: 30px;
    }

    .request-button {
        margin: 20px 0px 20px 0px;
        height: 45px;
        width: 50%
    }

    .size-12 {
        font-size: 12pt;
        font-weight: 500;
        color: color($colors, primary);
    }

    .image{
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
