<ion-content style="background: black">

  <div #map id="map"></div>

</ion-content>

<ion-footer>
  <div id="bottom-content">
    <ion-row no-margin no-padding>
      <ion-col no-margin no-padding>
        <p text-center><strong>Distance:</strong> {{distanceRemaining}} KM</p>
      </ion-col>
      <ion-col no-margin no-padding>
        <p text-center><strong>Time:</strong> {{timeRemaining}} Mins</p>
      </ion-col>
    </ion-row>

    <div align="center">
      <button color='danger' ion-button round outline (click)='callEmergency()'>
        <ion-icon name="md-alert"></ion-icon> &nbsp;&nbsp;
        Emergency
      </button>
    </div>

    <!-- <div align="center">
      <button class="request-button" ion-button color='secondary' round (click)='shareRide()'>
        <ion-icon name="md-share"></ion-icon> &nbsp;&nbsp;
        Share Ride
      </button>
    </div> -->
  </div>
</ion-footer>