<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="primary"></ion-icon>
		</button>
		<ion-title>
			<span ion-text color="primary">Support</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="lightest-bg">

	<div class="support-header">
		<img src="assets/imgs/support-app.jpg">
	</div>

	<ion-grid fixed>
		<ion-row>
			<ion-col>
				<ion-card>

					<ion-list>
						<a href="tel:1111" ion-item>
							<ion-icon name="call" item-start></ion-icon>
							<p ion-text color="primary">Call to General Support</p>
							<h2 ion-text color="dark">0711 984 124</h2>
						</a>
						<a href="tel:1111" ion-item>
							<ion-icon name="call" item-start></ion-icon>
							<p ion-text color="primary">Call to Lease & Sale Support</p>
							<h2 ion-text color="dark"> 0726 318 121</h2>
						</a>
						<a href="mailto:support@ionproperty.ionic" ion-item>
							<ion-icon name="mail" item-start></ion-icon>
							<p ion-text color="primary">Email</p>
							<h2 ion-text color="dark"> rahisicabs@gmail.com</h2>
						</a>
					</ion-list>

				</ion-card>

			</ion-col>
		</ion-row>
	</ion-grid>


	<button ion-button icon-start large full color="primary" (click)="call()">
		<ion-icon name="call"></ion-icon>
		Call us
	</button>

</ion-content>