<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon style="font-size: 18pt;" color='light' name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="ready" >
    <div *ngIf="!isReady" no-padding>
      <ion-grid  fixed>
        <ion-row>
          <ion-col col-12>
      
            <ion-card class="primary-bg" margin-top>
            <ion-card-content>
              <p text-center class="text-white">You have no ride history </p>
            </ion-card-content>
            </ion-card>
      
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>

    <div>
      <ion-list *ngIf="isReady">
        <ion-item *ngFor="let ride of rides" (click)="viewRide(ride)">
          <h4>{{ride.destination_location}}</h4>
          <p>{{ride.created_at | date:'medium' }}</p>
          <ion-icon name="ios-arrow-forward" item-right></ion-icon>
          <p *ngIf="ride.status == 2" style="color: red">Cancelled</p>
          <p *ngIf="ride.status == 3" style="color: rgb(0, 140, 255)">underway rides</p>
          <p *ngIf="ride.status == 1" style="color: green">Completed</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>