<ion-split-pane when="lg">

	<ion-menu side="left" id="authenticated" [content]="content" class="menu-bg">

		<ion-header>
			<ion-toolbar class="user-profile profiles-bg">

				<div class="user-profile">
					<ion-list no-margin>
						<ion-item>

							<ion-avatar item-left>
								<img src="../assets/imgs/profile.png">
							</ion-avatar>

							<h2 ion-text class="text-white fw700 text-15x">
								{{this.rest.name}}
							</h2>
							<p ion-text color="light">{{this.rest.email}}</p>



						</ion-item>
					</ion-list>

					<ion-grid no-padding>
						<ion-row class="other-data">
							<ion-col text-center class="column">
								<button ion-button icon-start small full menuClose no-margin color="dark"
									(click)="openPage('page-my-account')">
									<ion-icon name="contact"></ion-icon>
									My Account
								</button>
							</ion-col>
							<ion-col text-center class="column">
								<button ion-button icon-start small full menuClose no-margin color="dark"
									(click)="logout()">
									<ion-icon name="log-out"></ion-icon>
									Log Out
								</button>
							</ion-col>
						</ion-row>
					</ion-grid>

				</div>

			</ion-toolbar>
		</ion-header>

		<ion-content>
			<ion-list>
				<button menuClose ion-item *ngFor="let p of pages" (click)="open1Page(p)">
					<ion-icon name="{{p.icon}}"></ion-icon> &nbsp;&nbsp;{{p.title}}
				</button>
			</ion-list>

		</ion-content>

	</ion-menu>

	<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>