<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Ride Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-item>
        <h5><span> <ion-icon color="secondary" item-left name="md-locate"></ion-icon></span>{{pickup_location}}</h5>
      </ion-item>

      <ion-item>
        <h5> <span> <ion-icon color="blue" item-left name="md-locate"></ion-icon></span>{{destination}}</h5>
      </ion-item>

      <ion-item no-padding>
        <ion-card style="width: 100%">
          <ion-card-header text-center>
            <h5>Cab Details</h5>
          </ion-card-header>

          <ion-card-content>
            <ion-row>
              <ion-col col-4>
                <p>Model</p>
                <p>Plate No:</p>
                <p>Date</p>
              </ion-col>
              <ion-col col-6>
                <p>{{cabmodel}}</p>
                <p>{{cabplate}}</p>
                <p>{{date | date: 'medium'}}</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item>
        <h6>Payment Details</h6>
      </ion-item>

      <ion-item>
        <ion-row>
          <ion-col>Cash</ion-col>
          <ion-col>{{cost}} ksh</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Distance</ion-col>
            <ion-col>{{distance}} Km</ion-col>
          </ion-row>
      </ion-item>
    </ion-grid>
  </div>

</ion-content>