<!--
  Generated template for the RideInvoiceModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="primary"></ion-icon>
		</button>
		<ion-title>
			<span ion-text color="primary">Invoice</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content fullscreen>

  <p text-center class="header-text">Ride Invoice</p>
  <hr style="background: #eb016e" no-marigin no-padding>

  <div>
    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <p class="row-title" margin-left>Starting Point: </p>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center>{{startName}} </p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <p class="row-title" margin-left>Stopping Point: </p>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center>{{endName}} </p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <p class="row-title" margin-left>Distance: </p>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center> {{distance}} KM</p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <p class="row-title" margin-left>Travel Time: </p>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center>{{travelTime}} Mins</p>
      </ion-col>
    </ion-row>


    <hr>

    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <p class="row-title" margin-left>Fare: </p>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center>KES: {{totalCost}} </p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <ion-avatar float-left no-padding no-margin style="margin-top: 7px;">
          <img margin-left class='profile-photo' src="assets/imgs/src.png">
        </ion-avatar>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center>{{restProvider.driverName}} </p>
      </ion-col>
    </ion-row>

    <hr>

    <ion-row no-margin no-padding>
      <ion-col col-5 no-margin no-padding>
        <p class="row-title" margin-left>Payment Mode: </p>
      </ion-col>
      <ion-col col-7 no-margin no-padding>
        <p text-center><strong>CASH</strong> </p>
      </ion-col>
    </ion-row>

    <div align="center" marin padding>
      <button ion-button round full color='secondary' style="width: 60%; height: 45px;" (click)="presentModal()">Next</button>
    </div>

  </div>

</ion-content>