<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="primary"></ion-icon>
		</button>
		<ion-title>
			<span ion-text color="primary">My Account</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="profile light-bg">

	<ion-card>
		<ion-card-content class="profiles-bg">
			<ion-grid fixed>
				<ion-row>
					<ion-col col-12>
						<img src="../../assets/imgs/profile.png">
						<h2 class="fw500">{{this.restProvider.email}}</h2>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>

		<ion-grid fixed >
			<ion-row>
				<ion-col col-12>
					<ion-list>
						<ion-row>
							<ion-col>
								<ion-item>
									<ion-label color="dark" stacked> Name:</ion-label>
									<ion-input type="text" [(ngModel)]="prof.fname"
										value="{{this.restProvider.name}}"></ion-input>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-item>
									<ion-label color="dark" stacked>Id Number:</ion-label>
									<ion-input type="email" [(ngModel)]="prof.lname"
										value="{{this.restProvider.id}}">
									</ion-input>
								</ion-item>
							</ion-col>

						</ion-row>


						<ion-row>
							<ion-col>
								<ion-item>
									<ion-label color="dark" stacked>Email:</ion-label>
									<ion-input type="text" [(ngModel)]="prof.email" value="{{this.restProvider.email}}"></ion-input>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-item>
									<ion-label color="dark" stacked>Phone Number:</ion-label>
									<ion-input type="text" [(ngModel)]="prof.phone" value="{{this.restProvider.phone}}"></ion-input>
								</ion-item>
							</ion-col>
						</ion-row>


						

					</ion-list>

				</ion-col>
			</ion-row>
		</ion-grid>

		<button *ngIf="profile" ion-button large full color="dark" (click)="update()">Update</button>
	</ion-card>


</ion-content>