<!--
  Generated template for the FreeRidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon style="font-size: 18pt;" color='light' name="menu"></ion-icon>
    </button>
    <ion-title>Free Ride</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid  fixed>
    <ion-row>
      <ion-col col-12>

        <ion-card class="primary-bg" margin-top>
        <ion-card-content>
          <p text-center class="text-white">You currently have no free rides </p>
        </ion-card-content>
        </ion-card>
  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
